<h1>About RYV Records</h1>
<p id="aboutRYV">
    Striving to be the largest music and audio platform, RYV records allows the user to discover and enjoy various music
    made from artists from all over the world. Since it's launch in 2022, the platform has been praised for it's many features.
    From allowing a user to add their own so the whole community can listen to letting premium users download songs so they can 
    listen to their favorite tracks while offline. Basically, this platform is made for music enthusiasts from around the world.
</p>

<h1>Connect with our Developers</h2>
<div class="aboutTable">
    <table class="aboutTable">
        <tr class="aboutTable">
            <td class="about"><img class="about" src="images/yorick.png" width="100%" height="100%"></td>
            <td class="about"><img class="about"  src="images/vathu.png" width="100%" height="100%"></td>
            <td class="about"><img class="about"  src="images/resham.png" width="100%" height="100%"></td>
        </tr> 
        <tr class="aboutTable">
            <th class="about">Yorick-Ntwari Niyonkuru</th>
            <th class="about">Vathusan Vimalarajan</th>
            <th class="about">Resham Moocheet</th>
        </tr>
        <tr class="aboutTable">
            <td class="about">
                I'm Yorick and I hope you enjoy our music streaming app. 
                We thought it would be nice to combine the cool design from spotify 
                with the easy ability to add new songs to the database of songs. 
                Since music is quite an important source of entertainment in every day life, 
                I though what better app to create than try and improve current music technologies.
                </td>
            <td class="about">
                As stated above, my name is Vathusan but you can call me Vathu.
                I'm a computer science student at John Abbott College.
                Like all my fellow developers, I'm a immense music enthusiast.
                I mostly listen to drill and afro music, but I don't mind any genre.
                My colleagues and I developed this platform, so all the music lovers can
                have a space to add, discover and enjoy any type of music. If you have 
                any ideas that can help improve your experience with this platform,
                feel free to contact me through my socials listed below. Hope you have 
                a good time using RYV Records.
            </td>
            <td class="about">
                Hi! My name is Resham and I am an avid music listener. I listen to a wide variety
                of songs but I'm a sucker for strong pop vocals. I'm currently enrolled in John Abbott College
                in Computer Science. While I love music, I also love technology and web design so I decided
                to create this project with my friends to make music accessible to everyone as it is
                an art that must be enjoyed for everyone. My socials are listed below, welcome to RYV Records!
            </td>
            {{!-- <td class="about" style="color:green">✓</td> --}}
        </tr>
        <tr>
            <td class="about">
                <a href="https://www.instagram.com/yorick1125/"><img src="images/instagram.png" /></a>
                <a href="https://github.com/yorick1125"><img src="images/github.png" /></a>
            </td>
            <td class="about">
                <a href="https://www.instagram.com/vathusan28/"><img src="images/instagram.png" /></a>
                <a href="https://github.com/VathuBDV"><img src="images/github.png" /></a>
            </td>           
            <td class="about">
                <a href="https://www.instagram.com/reshammoocheet/"><img src="images/instagram.png" /></a>
                <a href="https://github.com/reshammoocheet"><img src="images/github.png" /></a>
            </td>
        </tr>
    </table>
</div>