
<form action="/login" method="post" role="form" id="login-form">
    <h2>{{errorMessage}}</h2>
    <legend>Please enter your email and password to login</legend>
    <br>
        <label for="username">Username:</label><br>
        <input type="text" {{#if username}}placeholder="{{username}}"{{/if}} id="username" name="username" required><br>
        
        {{!-- <datalist id="username">
            <option value={{username}}>
        </datalist> --}}
        
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" minlength="8" required>
        <div>
        <button type="submit" class="btn btn-primary">Login</button>
        </div>
</form>
<form method="get" action="/signup" role="form">
    <button type="submit" class="sign-up-home">Sign Up</button>
</form>



        