
{{#if displayChoices}}
<form action="/profileForms" method="post" role ="form" enctype="application/x-www-form-urlencoded" >
    <ul>
        <li><legend style="font-size: 40px;">What would you like to do?</legend></li>
        <li><button name="choice" type="submit" class="btn btn-primary" value="username" >Change Username</button></li>
        <li><button name="choice" type="submit" class="btn btn-primary" value="password" >Change Password</button></li>
    </ul>
</form>
{{/if}}

{{#if displayUsernameForm}}
    <div class="form">
        <form action="/user-edit" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Edit Username</u></legend>
            <label for="currentName">Current username:</label><br>
            <input type="text" name="currentUsername" id="currentUsername" value={{currentUser.username}}>
            <br>
            <label for="newName">Enter new username:</label><br>
            <input type="text" name="newUsername" id="newUsername">
            <br>
            <label for="password">Enter current password:</label><br>
            <input type="password" name="password" id="password" >
            <br>

            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
{{/if}}
{{#if displayPasswordForm}}
    <div class="form">
        <form action="/user-edit" method="post" role ="form" >
            <legend class="formLegend" style="padding: 10px;"><u>Edit Password</u></legend>
            <label for="currentUsername">Enter current username:</label><br>
            <input type="text" name="currentUsername" id="currentUsername">
            <br>
            <label for="currentName">Enter current password:</label><br>
            <input type="password" name="currentPassword" id="currentPassword">
            <br>
            <label for="newName">Enter new password:</label><br>
            <input type="password" name="newPassword" id="newPassword">
            <br>
            <button type="submit" class="btn btn-primary">Submit</button>

        </form>
    </div>
{{/if}}
