<form action="/register" method="post" role="form" id="login-form">
    <legend>Please enter your username and password to sign up</legend>
    <br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" minlength="8" required>
    <br>
    <label for="password">Confirm Password:</label><br>
    <input type="password" minlength="8" required>
    <br>
    <label for="html">Premium</label>
    <input type="checkbox" name="premiumCheckbox" checked="true">
    <div>

    <div id="paypal-button-container">

    </div>

    <div class="premiumTable">
        <table border="1px" width="100%">
            <tr> 
                <th>Free</th>
                <th>Free</th>
                <th>Premium</th>
            </tr>
            <tr>
                <td style="display: flex"><p>Can manage songs</p></td>
                <td style="color:green">✓</td>
                <td style="color:green">✓</td>
            </tr>
            <tr>
                <td style="display: flex"><p>Can manage playlists</p></td>
                <td style="color:green">✓</td>
                <td style="color:green">✓</td>
            </tr>
            <tr>
                <td style="display: flex"><p>Can download songs</p></td>
                <td style="color:red">x</td>
                <td style="color:green">✓</td>
            </tr>
        </table>
    </div>

    
    <button type="submit" class="sign-up-btn">Sign Up</button>
    </div>

</form>