<form action="/register" method="post" role="form" id="login-form">
    <legend>Please enter your username and password to sign up</legend>
    <br>
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username" required><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password" minlength="8" required>
    <br>
    <label for="password">Confirm Password:</label><br>
    <input type="password" minlength="8" required>
    <br>
    <label for="html" style="font-size:large "><input type="checkbox" name="premiumCheckbox" checked="f">Premium</label>
    <div>

        <div id="paypal-button-container">

    </div>

    <div class="premiumTable">
        <table>
            <tr> 
                <th style="text-align:left">Features</th>
                <th class="offer">Free</th>
                <th class="offer">Premium</th>
            </tr>
            <tr>
                <td>Can manage songs</td>
                <td class="offer" style="color:green">✓</td>
                <td class="offer" style="color:green">✓</td>
            </tr>
            <tr>
                <td>Can manage playlists</td>
                <td  class="offer" style="color:green">✓</td>
                <td  class="offer" style="color:green">✓</td>
            </tr>
            <tr>
                <td>Can download songs</td>
                <td class="offer" style="color:red">x</td>
                <td class="offer" style="color:green">✓</td>
            </tr>
        </table>
    </div>

    
    <button type="submit" class="sign-up-btn">Sign Up</button>
    </div>

</form>