<form action="/register" method="post" role="form" id="login-form">
    <legend>Please enter your username and password to sign up</legend>
    <br>
        <label for="username">Username:</label><br>
        <input type="text" id="username" name="username" required><br>
        <label for="password">Password:</label><br>
        <input type="password" id="password" name="password" minlength="8" required>
        <br>
        <label for="password">Confirm Password:</label><br>
        <input type="password" minlength="8" required>
        <br>
        <input type="checkbox" id="html" name="isPremium">
        <label for="html">Premium</label><br>
        <div>

        
        <button type="submit" class="btn btn-primary">Sign Up</button>
        </div>
</form>