body{
    background-color: rgb(7, 8, 5); 
    color:white;
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', sans-serif;
}
.body-ctnt {
     margin: 5%;
}
header{
    background-color: rgb(246, 246, 103);
}
checkbox {
    background-color: green;
}

.header-text{
    margin-top: -33px;
    text-align: center;
    color: black;
    text-shadow: 1.2px 1.2px black ;
}

nav{
    background-color: black;
    color: black;
    text-align: center;
    padding: 5px;
    display: flex;
}

.playlist-form {
    display: flex;
    flex-direction: column;
}

.page{
    display: flex;
    flex-direction: row;
}


  
  td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    width: 24%;
  }

  .offer{
    text-align: center;
  }

.crud-song {
    margin: 10px;
}

.musicplayer{
    background-color: rgb(55, 53, 53);
    text-align: center; 
    width: 60%;
    border: green solid 1px;
    border-radius: 5px;
    padding: 1px;
    margin-left: 20%;
}

.library{
    width: 100%;
    align-items: center;
    justify-content: center; 
}

nav a {
    flex: 1;
    transition-duration: 0.4s;
}

nav a:hover{
    background-color: white; 
    color: black;
}
.sign-up-btn {
    margin-top: 20px;
}

.sign-up-home {
    margin: 20px;
    margin-left: 200px;
}
a{
    font-size: 25px;
    text-decoration: none;
    color: rgb(246, 246, 103);
    text-shadow: 1px 1px black;
    font-family: 'Trebuchet MS', sans-serif;
    border: none;
}
p {
    font-weight: bold;
}
.header-container button {
    border-radius: 10px;
}
.header-logo{
    width: 5%;
    height: 100%;
    margin-bottom: -40px;
}

footer{
    color: rgb(246, 246, 103);
    text-shadow: 1px 1px black;
    text-align: center;
    width: 100%;
}



input {
    border: none;
    background-color: black;
    border-bottom: 2px solid yellow;
    color: white;
    margin: 2em;
}

#accountButton{
    align-self: center;
}

button {
    transition-duration: 0.4s;
    border: white;
    border-style: solid;
    color: white;
    background-color: black;
    padding: 14px 28px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 10%;
}

.play-button{
    transition-duration: 0.3s;
    border: yellowgreen;
    border-style: solid;
    border-width: 1px;
    border-radius: 10px;
    color: yellowgreen;
    background-color: black;
    padding: 7px 14px;
    padding: 10px;
    text-align: right;
    text-decoration: none;
    display: inline-block; 
    font-size: 15px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    height: 5%;
    align-items:right;
}

button:hover {
    background-color: white;
    color: black;
}



.addForm{
    border: 3spx solid yellow;
    padding: 10px;
    width: fit-content;
}

.formLegend{
    font-size: 25px;
}

input[type="file"] {
    width: 100%;
    justify-content: center;
    margin-left: 8px;
}
input[type="file"]:hover {
    cursor: pointer;
    
}
.form{
    padding: 10px;
    width: 75%;
    text-align: center;
}

.song-edit {
    display: flex;
    flex-direction: column;
}

.song-image{
    margin-left: 25px;
    width: 20%;
    height: 10%;
}

.song-list-item{
    display: flex;
    width: 100%;
    margin: 10px;
}

.song-list-item-text{
    margin: 10px;
}

.songList{
    border: yellowgreen;
    border-style: solid;
    border-radius: 5px;
    margin-left: 15%;
    width: 65.5%;
    text-align: center;
}

button.play-button {
    margin: 7px;
    font-size: 16px;
}

.table{
    width: 50%;
    padding: 20px;
}
th, td, tr, table {
    padding: 5px;
}
table, td, tr, th {
    border: none;
}
#login-form{
    text-align: center;
    margin: 50px;

}
.header-container {
    display: flex;
    justify-content: space-around;
}
.log-out-nav {
    align-self: flex-end;
    align-content: flex-end;
}

.account-btn {
    align-self: flex-start;
}

ul{
    list-style-type: none;
}

.premiumTable{
    width: 100%;
    margin-left: -50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.premiumTable{
    display: flex;
    align-items: center;
    justify-content: center;
}

table.premiumTable {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin-left: 18%;
    margin-right: auto;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 72%;
  }

.aboutTable{
    margin-top: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.about{
    text-align: center;
    vertical-align: top;
}

th.about{
    font-size: 30px;
    padding-bottom: 20px;
}

img.about{
    width: 50%;
    height: 50%;
}

#aboutRYV{
    font-size: larger;
    margin-top:50px;
    margin-bottom:100px;
    font-weight: lighter;
}

#fileInput{
    width: 100%;
    margin: 0;
}
#add-song {
    margin-bottom: 70px;
    padding-top: 5px;
    padding-bottom:5px;
    font-size: 30px;
}

#description{
    background-color:black;
    color:white;
    border:1px solid yellow;
    resize: none;
    width:95%;
}
@media screen and (max-width: 1224px) {
    .header-logo{
        width: 10%;
        height: 10%;
        margin-bottom: -30px;
    }

    .styled-button {
        transition-duration: 0.4s;
        border: white;
        border-style: solid;
        color: white;
        background-color: black;
        padding: 7px 14px;
        text-align: center;
        text-decoration: none;
        display: inline-block; 
        font-size: 16px;
        margin: 4px 2px;
        transition-duration: 0.4s;
        cursor: pointer;
        height: 10%;
    }
} 